    <header>
      <div class="header header-center">
        <a href="/">
          <div class="header-logo">
            <p class="main-logo">Heart Share</p>
          </div>
        </a>
      </div>
      <div class="header-string">
        <p>
          自分の想っていることをアウトプットして、<br>
          やりたいことを具体化していこう♪
          アウトプットしている記事を参考にして、<br>
          新しい考えも取り入れよう♪
        </p>
      </div>
    </header>
    <main class="main">
      <div class="sign-up-box">
        <div>
          <P>ニックネーム：<%= @nickname %></p>
        </div>
        <div>
          <p>Email：<%= @email %></p>
        </div>
        <div>
          <p>&lt; 投稿した記事一覧 &gt;</p>
          <ul>
            <% @hearts.each do |heart| %>
              <%= link_to heart_path(heart.id), method: :get do %>
              <li class="heart-list">
                <div class="heart-list-main">
                  <p class="heart-title"><%= heart.title %></p>
                  <p class="heart-child-category"><%= heart.category_id %></p>
                </div>
                <p class="heart-nickname"><%= heart.user.nickname %></p>
              </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </main>
    <footer class="footer">
      <p>著作権とか</p>
    </footer>
