<header>
  <div class="header">
    <a href="/">
      <div class="header-logo">
        <p class="main-logo">Heart Share</p>
      </div>
    </a>
    <div class="header-menu">
      <div class="user-menu">
        <% if user_signed_in? %>
          <%= link_to "сЃГсѓ░сѓбсѓдсЃѕ", destroy_user_session_path, method: :delete, class: "user-menu-list" %>
          <%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-menu-list" %>
        <% else %>
          <%= link_to "сЃГсѓ░сѓцсЃ│", new_user_session_path, class: "user-menu-list" %>
          <%= link_to "Тќ░УдЈуЎ╗жї▓", new_user_registration_path, class: "user-menu-list" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="header-string">
    <p>
      УЄфтѕєсЂ«ТЃ│сЂБсЂдсЂёсѓІсЂЊсЂесѓњсѓбсѓдсЃѕсЃЌсЃЃсЃѕсЂЌсЂдсђЂ<br>
      сѓёсѓісЂЪсЂёсЂЊсЂесѓњтЁиСйЊтїќсЂЌсЂдсЂёсЂЊсЂєРЎф
      сѓбсѓдсЃѕсЃЌсЃЃсЃѕсЂЌсЂдсЂёсѓІУеўС║ІсѓњтЈѓУђЃсЂФсЂЌсЂдсђЂ<br>
      Тќ░сЂЌсЂёУђЃсЂѕсѓѓтЈќсѓітЁЦсѓїсѓѕсЂєРЎф
    </p>
  </div>
  <div class="search-box">
    <input type="text" class="search-text">
    <div class="search-button">
      <span><a href="#">Тцюу┤б</a></span>
    </div>
  </div>
</header>
<main>
  <div class="main">
    <div class="category">
      <ul class="category-lists">
        <a href="#"><li class="category-list">тЦйсЂЇсЂфсЂЊсЂе</li></a>
        <a href="#"><li class="category-list">тЙЌТёЈсЂфсЂЊсЂе</li></a>
        <a href="#"><li class="category-list">жЄЇУдЂсЂфсЂЊсЂе</li></a>
        <a href="#"><li class="category-list">сЂЮсЂ«С╗ќ</li></a>
      </ul>
    </div>
    <div class="hearts">
      <ul>
        <% @hearts.each do |heart| %>
          <%= link_to heart_path(heart.id), method: :get do %>
          <li class="heart-list">
            <div class="heart-list-main">
              <p class="heart-title"><%= heart.title %>      <span class="good-point">­ЪЉЇ56</span></p>
              <p class="heart-child-category"><%= heart.category.name %></p>
            </div>
            <p class="heart-nickname"><%= heart.user.nickname %></p>
          </li>
          <% end %>
        <% end %>
      
        <% if @hearts.blank? %>
          <a href="#">
            <li class="heart-list">
              <div class="heart-list-main">
                <p class="heart-title">сѓ┐сѓцсЃѕсЃФ</p>
                <p class="heart-child-category">тГљсѓФсЃєсѓ┤сЃфсЃ╝</p>
              </div>
              <p class="heart-nickname">ТіЋуе┐УђЁтљЇ</p>
            </li>
          </a>
        <% end %>
      </ul>
    </div>
  </div>
  <div class='purchase-btn'>
    <a href="/hearts/new">ТіЋуе┐сЂЎсѓІ
    </a>
  </div>
</main>
<footer class="footer">
  <p>УЉЌСйюТеЕсЂесЂІ</p>
</footer>