<%= render "shared/header" %>
<div class="search-box">
  <input type="text" class="search-text">
  <div class="search-button">
    <span><a href="#">検索</a></span>
  </div>
</div>
<main>
  <div class="main">
    <div class="category">
      <ul class="category-lists">
        <a href="#"><li class="category-list">全カテゴリー</li></a>
        <a href="#"><li class="category-list">好きなこと</li></a>
        <a href="#"><li class="category-list">得意なこと</li></a>
        <a href="#"><li class="category-list">重要なこと</li></a>
        <a href="#"><li class="category-list">その他</li></a>
      </ul>
    </div>
    <div class="hearts">
      <ul>
        <% @hearts.each do |heart| %>
          <%= link_to heart_path(heart.id), method: :get do %>
          <li class="heart-list">
            <div class="heart-list-main">
              <p class="heart-title"><%= heart.title %>      <span class="good-point">👍56</span></p>
              <p class="heart-child-category"><%= heart.category.name %></p>
            </div>
            <p class="heart-nickname"><%= heart.user.nickname %></p>
          </li>
          <% end %>
        <% end %>
      
        <% if @hearts.blank? %>
          <a href="#">
            <li class="heart-list">
              <div class="heart-list-main">
                <p class="heart-title">タイトル</p>
                <p class="heart-child-category">子カテゴリー</p>
              </div>
              <p class="heart-nickname">投稿者名</p>
            </li>
          </a>
        <% end %>
      </ul>
    </div>
  </div>
  <a href="/hearts/new">
    <div class='purchase-btn'>投稿する
    </div>
  </a>
</main>
<%= render "shared/footer" %>