<header>
  <div class="header header-center">
    <a href="/">
      <div class="header-logo">
        <p class="main-logo">Heart Share</p>
      </div>
    </a>
  </div>
  <div class="header-string">
    <p>
      自分の想っていることをアウトプットして、<br>
      やりたいことを具体化していこう♪
      アウトプットしている記事を参考にして、<br>
      新しい考えも取り入れよう♪
    </p>
  </div>
</header>
<main class="main">
  <div class="sign-up-box">
    <div>
      <p>タイトル：<%= @heart.title %></p>
    </div>
    <div>
      <p>カテゴリー：<%= @heart.category.name %></p>
    </div>
    <div>
      <p>子カテゴリー</p>
    </div>
    <div>
      <p>&lt;あなたのことを教えて下さい♪&gt;</p>
      <p><%= @heart.detail %></p>
    </div>
    <div class="stamp">
      <div></div>
      <button class="stamp-good">いいね！👍56</button>
    </div>
    <div class="comment">
      <div class="comment-box" id="comments">
        <% if @comments %>
          <% @comments.reverse_each do |comment| %>
            <% if @heart.user_id == comment.user_id %>
              <div class="comment-text">
                <p>☆<%= comment.user.nickname %></p>
                <p><%= comment.text %></p>
              </div>
            <% else %>
              <div class="comment-text-another">
                <p><%= comment.user.nickname %></p>
                <p><%= comment.text %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="comment-input">
      <% if user_signed_in? && current_user.id == @heart.user.id %>
        <%= form_with(model: [@heart, @comment], local: true) do |f| %>
          <div><%= f.text_area :text, placeholder: "コメントする", class: "comment-input-box", id: "comment-input-box" %></div>
          <div>
            <%= button_tag type: :submit, class: "comment-button", id: "comment-button" do %>
              <p>コメントする</p>
            <% end %>
          </div>
        <% end %>
      <% elsif user_signed_in? %>
        <%= form_with(model: [@heart, @comment], local: true) do |f| %>
          <div><%= f.text_field :text, value: "もっと聞きたい！", class: "comment-input-box", id: "motto_button"%></div>
          <div>
            <%= button_tag type: :submit, class: "comment-button" do %>
              <p>もっと聞きたい！</p>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% unless user_signed_in? %>
        <button class="comment-button">もっと聞きたい！</button>
        <p>※※※ "もっと聞きたい！"には新規登録/ログインが必要です ※※※</p>
      <% end %>
    </div>
    <% if user_signed_in? && current_user.id == @heart.user.id %>
    <div class="menu-button">
      <%= link_to '編集する', edit_heart_path(@heart.id), method: :get, class: "edit-button" %>
      <%= link_to '削除する', heart_path(@heart.id), method: :delete, class: "edit-button" %>
    </div>
    <% end %>
  </div>
</main>
<footer class="footer">
  <p>著作権とか</p>
</footer>
