<header>
  <div class="header header-center">
    <a href="/">
      <div class="header-logo">
        <p class="main-logo">Heart Share</p>
      </div>
    </a>
  </div>
  <div class="header-string">
    <p>
      УЄфтѕєсЂ«ТЃ│сЂБсЂдсЂёсѓІсЂЊсЂесѓњсѓбсѓдсЃѕсЃЌсЃЃсЃѕсЂЌсЂдсђЂ<br>
      сѓёсѓісЂЪсЂёсЂЊсЂесѓњтЁиСйЊтїќсЂЌсЂдсЂёсЂЊсЂєРЎф
      сѓбсѓдсЃѕсЃЌсЃЃсЃѕсЂЌсЂдсЂёсѓІУеўС║ІсѓњтЈѓУђЃсЂФсЂЌсЂдсђЂ<br>
      Тќ░сЂЌсЂёУђЃсЂѕсѓѓтЈќсѓітЁЦсѓїсѓѕсЂєРЎф
    </p>
  </div>
</header>
<main class="main">
  <div class="sign-up-box">
    <div>
      <p><%= @heart.title %></p>
    </div>
    <div>
      <p><%= @heart.category_id %></p>
    </div>
    <div>
      <p>тГљсѓФсЃєсѓ┤сЃфсЃ╝</p>
    </div>
    <div>
      <p><%= @heart.detail %></p>
    </div>
    <div class="stamp">
      <button class="stamp-hear">сѓѓсЂБсЂеУЂъсЂЇсЂЪсЂё№╝Ђ</button>
      <button class="stamp-good">сЂёсЂёсЂГ№╝Ђ­ЪЉЇ56</button>
    </div>
    <div class="comment">
      <div class="comment-box">
        <div class="comment-text">ТіЋуе┐УђЁ</div>
        <div class="comment-text-another">сѓ╣сѓ┐сЃ│сЃЌ</div>
      </div>
    </div>
    <div class="comment">
      <button class="comment-button">сѓ│сЃАсЃ│сЃѕсЂЎсѓІ</button>
    </div>
    <div class="menu-button">
      <%= link_to 'уиежЏєсЂЎсѓІ', edit_heart_path(@heart.id), method: :get, class: "edit-button" %>
      <%= link_to 'тЅіжЎцсЂЎсѓІ', heart_path(@heart.id), method: :delete, class: "edit-button" %>
    </div>
  </div>
</main>
<footer class="footer">
  <p>УЉЌСйюТеЕсЂесЂІ</p>
</footer>
