<header>
  <div class="header header-center">
    <a href="index.html">
      <div class="header-logo">
        <p class="main-logo">Heart Share</p>
      </div>
    </a>
  </div>
  <div class="header-string">
    <p>
      自分の想っていることをアウトプットして、<br>
      やりたいことを具体化していこう♪
      アウトプットしている記事を参考にして、<br>
      新しい考えも取り入れよう♪
    </p>
  </div>
</header>
<main class="main">
  <div class="sign-up-box">
    <div>
      <p>Email</p>
      <input type="text" class="sign-up-box-list" placeholder="Emailを入力してください">
    </div>
    <div>
      <p>パスワード</p>
      <input type="password" class="sign-up-box-list" placeholder="パスワードを入力してください">
    </div>
    <div class="button">
      <button class="sign-up-button">ログイン</button>
    </div>
  </div>
</main>
<footer class="footer">
  <p>著作権とか</p>
</footer>



<div class="contents row">
  <div class="container">
    <h2>Log in</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :remember_me %><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>